.set-bg {
    background: url('../img/banner-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.appointment-section {
	height: 550px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.profile-img {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	border: 5px solid white;
	margin-top: -80px;
}